In [1]:
import pandas as pd
import numpy as np
import seaborn
import matplotlib.pyplot as plt

# Dataset One: Avocado Prices

In [2]:
raw_df = pd.read_csv('avocado.csv')

In [3]:
raw_df.columns = raw_df.columns.str.replace(' ', '_')

In [4]:
raw_df.head(8)

,Unnamed:_0,Date,AveragePrice,Total_Volume,4046,4225,4770,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
5,5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.0,conventional,2015,Albany
6,6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.0,conventional,2015,Albany
7,7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.0,conventional,2015,Albany

In [5]:
[pd.DataFrame(pd.value_counts(raw_df[colName])) for colName in raw_df.columns[1:]]

[            Date
 2015-11-15   108
 2017-02-26   108
 2015-01-04   108
 2017-08-27   108
 2016-10-23   108
 ...          ...
 2016-01-10   108
 2016-03-20   108
 2017-06-18   107
 2015-12-06   107
 2017-06-25   107

 [169 rows x 1 columns],
       AveragePrice
 1.15           202
 1.18           199
 1.08           194
 1.26           193
 1.13           192
 ...            ...
 3.05             1
 3.03             1
 2.91             1
 0.48             1
 2.96             1

 [259 rows x 1 columns],
            Total_Volume
 3713.49               2
 3529.44               2
 2038.99               2
 569349.05             2
 4103.97               2
 ...                 ...
 238229.99             1
 344613.01             1
 322940.72             1
 2943.85               1
 10187.56              1

 [18237 rows x 1 columns],
             4046
 0.00         242
 3.00          10
 1.24           8
 1.00           8
 4.00           8
 ...          ...
 15880.80       1
 659.34         1
 475418.60      1
 2294505.56     1
 2688.00        1

 [17702 rows x 1 columns],
            4225
 0.00         61
 215.36        3
 177.87        3
 1.30          3
 94.74         3
 ...         ...
 503247.72     1
 63840.96      1
 534.88        1
 39962.93      1
 512.00        1

 [18103 rows x 1 columns],
             4770
 0.00        5497
 2.66           7
 3.32           7
 1.64           6
 10.97          6
 ...          ...
 1045832.54     1
 388.68         1
 89.29          1
 58.48          1
 80.00          1

 [12071 rows x 1 columns],
             Total_Bags
 0.00                15
 300.00               5
 990.00               5
 916.67               4
 266.67               4
 ...                ...
 155484.69            1
 224912.37            1
 613.16               1
 93342.82             1
 1040085.28           1

 [18097 rows x 1 columns],
            Small_Bags
 0.00              159
 203.33             11
 533.33             10
 223.33             10
 103.33              8
 ...               ...
 27683.11            1
 1995.38             1
 269775.24           1
 52556.00            1
 27837.68            1

 [17321 rows x 1 columns],
            Large_Bags
 0.00             2370
 3.33              187
 6.67               78
 10.00              47
 4.44               38
 ...               ...
 239195.91           1
 3521.23             1
 52.17               1
 6935.32             1
 16675.91            1

 [15082 rows x 1 columns],
           XLarge_Bags
 0.00            12048
 3.33               29
 6.67               16
 1.11               15
 5.00               12
 ...               ...
 36.39               1
 29342.75            1
 724.83              1
 7415.42             1
 118.86              1

 [5588 rows x 1 columns],
               type
 conventional  9126
 organic       9123,
       year
 2017  5722
 2016  5616
 2015  5615
 2018  1296,
                      region
 Orlando                 338
 Seattle                 338
 Midsouth                338
 DallasFtWorth           338
 SanDiego                338
 Philadelphia            338
 Louisville              338
 LasVegas                338
 Pittsburgh              338
 Northeast               338
 GreatLakes              338
 BuffaloRochester        338
 Boise                   338
 Jacksonville            338
 Chicago                 338
 Roanoke                 338
 NewYork                 338
 SouthCentral            338
 Indianapolis            338
 LosAngeles              338
 Columbus                338
 Sacramento              338
 HarrisburgScranton      338
 California              338
 West                    338
 Houston                 338
 TotalUS                 338
 Syracuse                338
 PhoenixTucson           338
 Spokane                 338
 Tampa                   338
 Nashville               338
 MiamiFtLauderdale       338
 RichmondNorfolk         338
 Charlotte               338
 RaleighGreensboro       338
 HartfordSpringfield     338
 Portland                338
 Plains                  338
 Boston                  338
 CincinnatiDayton        338
 BaltimoreWashington     338
 Denver                  338
 NorthernNewEngland      338
 GrandRapids             338
 Southeast               338
 SouthCarolina           338
 StLouis                 338
 Atlanta                 338
 NewOrleansMobile        338
 Detroit                 338
 Albany                  338
 SanFrancisco            338
 WestTexNewMexico        335]

In [6]:
r, c = raw_df.shape

print("Rows: {0} , Columns {1}".format(r, c))

Rows: 18249 , Columns 14

In [7]:
raw_df.describe()

,Unnamed:_0,AveragePrice,Total_Volume,4046,4225,4770,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,year
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,24.232232,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,15.481045,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.000000,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,10.000000,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,24.000000,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,38.000000,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,52.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

In [8]:
raw_df.isnull().sum()

Unnamed:_0      0
Date            0
AveragePrice    0
Total_Volume    0
4046            0
4225            0
4770            0
Total_Bags      0
Small_Bags      0
Large_Bags      0
XLarge_Bags     0
type            0
year            0
region          0
dtype: int64

# Quick KNN and Log Reg Model

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix, accuracy_score

X_raw = raw_df[['AveragePrice', 'Total_Volume', 'Small_Bags', 'Large_Bags', 'XLarge_Bags', 'Total_Bags', '4046', '4225', '4770']]
scaler = MinMaxScaler()
scaler.fit(X_raw)
X = scaler.transform(X_raw)
y = raw_df[['region']]

x_train, x_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = .3)
clf_log = LogisticRegression()

clf_log.fit(x_train, y_train)

log_preds = clf_log.predict(x_test)

print("{} score: ".format(clf_log.__class__.__name__) + str(accuracy_score(y_test, log_preds)))

clf_knn = KNeighborsClassifier(n_neighbors = 3)

clf_knn.fit(x_train, y_train)

knn_preds = clf_knn.predict(x_test)

print("{} score: ".format(clf_knn.__class__.__name__) + str(accuracy_score(y_test, knn_preds)))

/usr/local/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression score: 0.08054794520547945

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier score: 0.4421917808219178

### Pros: Good mix of categorical and numerical data, no null values, can build a cool industry-aligned story behind this dataset (data scientist for a national grocery chain, etc.), could build some cool visualizations

### Cons: Focuses narrowly on **one** food, some of the column names are pretty confusing (4046, 4225, and 4770 are Price Lookup Codes), underwhleming classification results from the very simplified models I built (Although, KNN ~50% could be interpreted as "no better than random guessing," which is a semi-valuable lesson in ML models)

# Dataset Two: E-commerce Data

In [40]:
raw_df = pd.DataFrame(pd.read_csv('https://query.data.world/s/qtefpeh276h7fv6p2w5v44kscyazdf'))

In [41]:
raw_df.head()

,id,prices.amountMax,prices.amountMin,prices.availability,prices.condition,prices.currency,prices.dateSeen,prices.isSale,prices.merchant,prices.shipping,...,name,primaryCategories,sourceURLs,upc,weight,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,AVphzgbJLJeJML43fA0o,104.99,104.99,Yes,New,USD,"2017-03-30T06:00:00Z,2017-03-10T22:00:00Z,2017...",False,Bestbuy.com,NaN,...,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...,Electronics,https://www.amazon.com/Sanus-VLF410B1-10-Inch-...,7.94E+11,32.8 pounds,NaN,NaN,NaN,NaN,NaN
1,AVpgMuGwLJeJML43KY_c,69.00,64.99,In Stock,New,USD,2017-12-14T06:00:00Z,True,Walmart.com,Expedited,...,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Electronics,http://reviews.bestbuy.com/3545/4784804/review...,6.42E+11,14 pounds,NaN,NaN,NaN,NaN,NaN
2,AVpgMuGwLJeJML43KY_c,69.00,69.00,In Stock,New,USD,2017-09-08T05:00:00Z,False,Walmart.com,Expedited,...,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Electronics,http://reviews.bestbuy.com/3545/4784804/review...,6.42E+11,14 pounds,NaN,NaN,NaN,NaN,NaN
3,AVpgMuGwLJeJML43KY_c,69.99,69.99,Yes,New,USD,2017-10-10T05:00:00Z,False,Bestbuy.com,NaN,...,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Electronics,http://reviews.bestbuy.com/3545/4784804/review...,6.42E+11,14 pounds,NaN,NaN,NaN,NaN,NaN
4,AVpgMuGwLJeJML43KY_c,66.99,66.99,Yes,New,USD,2017-08-28T07:00:00Z,False,Bestbuy.com,NaN,...,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Electronics,http://reviews.bestbuy.com/3545/4784804/review...,6.42E+11,14 pounds,NaN,NaN,NaN,NaN,NaN

In [42]:
raw_df.columns = raw_df.columns.str.replace(' ', '_')
raw_df.columns = raw_df.columns.str.replace('.', '_')
raw_df.columns = raw_df.columns.str.replace(':', '_')
print(raw_df.columns)

Index(['id', 'prices_amountMax', 'prices_amountMin', 'prices_availability',
       'prices_condition', 'prices_currency', 'prices_dateSeen',
       'prices_isSale', 'prices_merchant', 'prices_shipping',
       'prices_sourceURLs', 'asins', 'brand', 'categories', 'dateAdded',
       'dateUpdated', 'ean', 'imageURLs', 'keys', 'manufacturer',
       'manufacturerNumber', 'name', 'primaryCategories', 'sourceURLs', 'upc',
       'weight', 'Unnamed__26', 'Unnamed__27', 'Unnamed__28', 'Unnamed__29',
       'Unnamed__30'],
      dtype='object')

In [47]:
raw_df['prices_isSale'].value_counts()

False    5508
True     1741
Name: prices_isSale, dtype: int64

In [48]:
raw_df['prices_amountMin'].value_counts()

99.99     117
149.99    112
59.99      98
199.99     94
79.99      88
         ...
33.79       1
213.37      1
48.46       1
120.54      1
56.50       1
Name: prices_amountMin, Length: 2668, dtype: int64

In [55]:
raw_df['prices_amountMax'].value_counts()

99.99      125
149.99     114
199.99     104
59.99      100
79.99       88
          ...
34.49        1
1409.99      1
74.22        1
36.89        1
1061.99      1
Name: prices_amountMax, Length: 2519, dtype: int64

In [56]:
raw_df['prices_merchant'].value_counts()

Bestbuy.com                 2806
bhphotovideo.com            1509
Walmart.com                  664
Beach Camera                 201
AMI Ventures Inc              63
                            ...
discountsjungle                1
gsalabama                      1
hollitronic                    1
daniedito                      1
pro_car_audio_consulting       1
Name: prices_merchant, Length: 693, dtype: int64

In [50]:
r, c = raw_df.shape
print("Rows: {0}, Columns {1}".format(r, c))

Rows: 7249, Columns 31

In [52]:
raw_df.describe()

       prices_amountMax  prices_amountMin   Unnamed__28
count       7249.000000       7249.000000  6.000000e+00
mean         495.530610        463.963005  8.850000e+11
std          763.599387        680.504507  0.000000e+00
min            1.000000          1.000000  8.850000e+11
25%           79.990000         79.950000  8.850000e+11
50%          198.990000        189.990000  8.850000e+11
75%          494.990000        479.990000  8.850000e+11
max         6999.990000       5999.990000  8.850000e+11

# KNN and Log using price max and min to predict whether the item is on sale or not

In [54]:
X_raw = raw_df[['prices_amountMax', 'prices_amountMin']]
scaler = MinMaxScaler()
scaler.fit(X_raw)
X = scaler.transform(X_raw)
y = raw_df[['prices_isSale']]

x_train, x_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = .3)
clf_log = LogisticRegression()

clf_log.fit(x_train, y_train)

log_preds = clf_log.predict(x_test)

print("{} score: ".format(clf_log.__class__.__name__) + str(accuracy_score(y_test, log_preds)))

clf_knn = KNeighborsClassifier()

clf_knn.fit(x_train, y_train)

knn_preds = clf_knn.predict(x_test)

print("{} score: ".format(clf_knn.__class__.__name__) + str(accuracy_score(y_test, knn_preds)))

LogisticRegression score: 0.774712643678161
KNeighborsClassifier score: 0.8335632183908046

/usr/local/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

# KNN and Log using price min and max to predict what store the item came from

In [57]:
X = raw_df[['prices_amountMax', 'prices_amountMin']]
y = raw_df[['prices_merchant']]

x_train, x_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = .3)
clf_log = LogisticRegression()

clf_log.fit(x_train, y_train)

log_preds = clf_log.predict(x_test)

print("{} score: ".format(clf_log.__class__.__name__) + str(accuracy_score(y_test, log_preds)))

clf_knn = KNeighborsClassifier()

clf_knn.fit(x_train, y_train)

knn_preds = clf_knn.predict(x_test)

print("{} score: ".format(clf_knn.__class__.__name__) + str(accuracy_score(y_test, knn_preds)))

/usr/local/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression score: 0.4266666666666667
KNeighborsClassifier score: 0.4496551724137931

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  from ipykernel import kernelapp as app

### Pros: mix of fairly intuitive numerical and categorical data, could build some cool industry-aligned models with the data, not too big but not too small, better results from the classification models (especially using price min and max to predict if it is on sale or not),

### Cons: Class imbalance between True and False values in prices_isSales column and the prices_merchant column (lots of best buy, bhphotovideo, and walmart, but few others

# Dataset Three: JC Penney Products

In [64]:
raw_df = pd.read_csv('jcpenney_com-ecommerce_sample.csv')

raw_df.columns = raw_df.columns.str.replace(' ', '_')

raw_df.head()

,uniq_id,sku,name_title,description,list_price,sale_price,category,category_tree,average_product_rating,product_url,product_image_urls,brand,total_number_reviews,Reviews
0,b6c0b6bea69c722939585baeac73c13d,pp5006380337,Alfred Dunner® Essential Pull On Capri Pant,You'll return to our Alfred Dunner pull-on cap...,41.09,24.16,alfred dunner,jcpenney|women|alfred dunner,4.7 out of 5,http://www.jcpenney.com/alfred-dunner-essentia...,http://s7d9.scene7.com/is/image/JCPenney/DP122...,Alfred Dunner,12,"{""review""=>[{""review_1""=>""You never have to wo..."
1,93e5272c51d8cce02597e3ce67b7ad0a,pp5006380337,Alfred Dunner® Essential Pull On Capri Pant,You'll return to our Alfred Dunner pull-on cap...,41.09,24.16,alfred dunner,jcpenney|women|alfred dunner,4.7 out of 5,http://www.jcpenney.com/alfred-dunner-essentia...,http://s7d9.scene7.com/is/image/JCPenney/DP122...,Alfred Dunner,12,"{""review""=>[{""review_1""=>""You never have to wo..."
2,013e320f2f2ec0cf5b3ff5418d688528,pp5006380337,Alfred Dunner® Essential Pull On Capri Pant,You'll return to our Alfred Dunner pull-on cap...,41.09,24.16,view all,jcpenney|women|view all,4.7 out of 5,http://www.jcpenney.com/alfred-dunner-essentia...,http://s7d9.scene7.com/is/image/JCPenney/DP122...,Alfred Dunner,12,"{""review""=>[{""review_1""=>""You never have to wo..."
3,505e6633d81f2cb7400c0cfa0394c427,pp5006380337,Alfred Dunner® Essential Pull On Capri Pant,You'll return to our Alfred Dunner pull-on cap...,41.09,24.16,view all,jcpenney|women|view all,4.7 out of 5,http://www.jcpenney.com/alfred-dunner-essentia...,http://s7d9.scene7.com/is/image/JCPenney/DP122...,Alfred Dunner,12,"{""review""=>[{""review_1""=>""You never have to wo..."
4,d969a8542122e1331e304b09f81a83f6,pp5006380337,Alfred Dunner® Essential Pull On Capri Pant,You'll return to our Alfred Dunner pull-on cap...,41.09,24.16,view all,jcpenney|women|view all,4.7 out of 5,http://www.jcpenney.com/alfred-dunner-essentia...,http://s7d9.scene7.com/is/image/JCPenney/DP122...,Alfred Dunner,12,"{""review""=>[{""review_1""=>""You never have to wo..."

In [68]:
[pd.DataFrame(pd.value_counts(raw_df[colName])) for colName in ['category', 'brand', 'list_price', 'total_number_reviews']]

[                 category
 sale                  630
 view all              577
 view all brands       511
 clearance             265
 pants                 198
 ...                   ...
 dale tiffany            1
 perfume                 1
 nordicware              1
 bomber jackets          1
 Cinderella              1

 [1465 rows x 1 columns],
                       brand
 Asstd National Brand    670
 ARIZONA                 654
 LIZ CLAIBORNE           546
 FINE JEWELRY            373
 Nike                    327
 ...                     ...
 BABY BUNS                 1
 LIZ POLARIZED             1
 Stamina Products          1
 ADM                       1
 SURYA                     1

 [1017 rows x 1 columns],
          list_price
 72.52           307
 60.43           303
 36.26           299
 48.34           280
 53.18           189
 ...             ...
 3424.42           1
 183.88            1
 2187.61           1
 504.23            1
 69.44             1

 [1571 rows x 1 columns],
        total_number_reviews
 1                      1178
 2                       961
 3                       642
 4                       437
 5                       364
 ...                     ...
 947                       1
 178                       1
 4,868                     1
 189                       1
 890                       1

 [408 rows x 1 columns]]

In [66]:
raw_df.describe()

,uniq_id,sku,name_title,description,list_price,sale_price,category,category_tree,average_product_rating,product_url,product_image_urls,brand,total_number_reviews,Reviews
count,20000,18768,13921,13235,10335,13898,12840,12840,7982,20000,13711,13921,7149,7982
unique,20000,14291,10613,10175,1571,3020,1465,2660,34,20000,11544,1017,408,6703
top,7883a433c547a820cdf3d2a4cb085746,pp5006210554,Champion® Vapor Shorts - Big & Tall,Stay comfortable and looking great all day wit...,72.52,36.25,sale,jcpenney|sale,5 out of 5,http://www.jcpenney.com/knit-works-sleeveless-...,http://s7d9.scene7.com/is/image/JCPenney/DP101...,Asstd National Brand,1,"{""review""=>[{""review_1""=>""I have problems find..."
freq,1,18,25,30,307,301,630,389,2529,1,18,670,1178,18

In [67]:
r, c = raw_df.shape
print("Rows: {0}, Columns {1}".format(r, c))

Rows: 20000, Columns 14

# Pros: has some null values and a good mix of categorical and numerical data, data will require a decent amount of cleaning (nan values and poor ratio between brand names), good size of data (20k rows), can create a good story with this data (analyst at a department store, etc.), could use OHE or a built-in encoder from sklearn for categorical variables

# Cons: has null values and will require cleaning from us and/or the students in the project